#!/bin/bash

cd {{ app_path }}
source {{ app_virtualenv }}/bin/activate
date >> /var/log/segue/recordings.log
python manage.py link_tv --rooms={{ recordings_rooms }} --early_max=10 --late_max=50 &>> /var/log/segue/recordings.log
