# -*- coding: utf-8 -*-

from datetime import timedelta

DEBUG = {{ debugging }}
TESTING = False

APP_PATH = '{{ app_path }}'

SQLALCHEMY_POOL_SIZE = None
SQLALCHEMY_POOL_TIMEOUT = None
SQLALCHEMY_POOL_RECYCLE = None
SQLALCHEMY_DATABASE_URI = 'postgresql://{{dbuser}}:{{dbpass}}@localhost/{{dbname}}'

LOGFILE = '/var/log/segue/segue.log'
LOGLEVEL = '{{ loglevel }}'

FRONTEND_URL = '{{ frontend_url }}'
BACKEND_URL = '{{ backend_url }}'

JWT_SECRET_KEY = '{{ jwt_secret }}'
JWT_DEFAULT_REALM = 'Login Required'
JWT_AUTH_URL_RULE = None
JWT_AUTH_ENDPOINT = None
JWT_ALGORITHM     = 'HS256'
JWT_VERIFY        = True
JWT_LEEWAY        = 0
JWT_VERIFY_EXPIRATION =  True
JWT_EXPIRATION_DELTA = timedelta(days=30)

CORS_HEADERS = 'Content-Type,Authorization'
CORS_ORIGINS = '{{ cors_origin }}'

MAIL_SERVER = '{{mail_server}}'
MAIL_PORT   = {{ mail_port }}
MAIL_DEFAULT_SENDER = '{{ mail_sender }}'
MAIL_USERNAME = '{{ mail_user }}'
MAIL_PASSWORD = '{{ mail_pass }}'
MAIL_USE_TLS = {{ mail_use_tls }}
MAIL_BCC = ['{{ mail_bcc }}']

PAGSEGURO_EMAIL = '{{ pagseguro_email }}'
PAGSEGURO_TOKEN = '{{ pagseguro_token }}'
PAGSEGURO_ENV = '{{ pagseguro_env }}'

STORAGE_DIR = "{{ storage_dir }}"
